/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card {
  max-width: 600px;
  margin: 50px auto;
}

.full-width {
  width: 100%;
}

.button-group {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

mat-progress-bar {
  margin-top: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
